body {
  background-image :url(https://media.discordapp.net/attachments/951410455870595072/1275702146863595595/Screenshot_20240401-065053.jpg?ex=66c6d9b5&is=66c58835&hm=a549d47501f67ef0e65a74873d3db43917d984d099f76fec0600b16283bf0a2c&);
  background-size: cover;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color: blueviolet;
  
}
#tytle,p {
  color: rgb(255, 255, 255);
}
