body {
    background-color: rgb(255, 255, 255);
    width: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}
h1{
    background-color: rgb(41, 41, 41);
}
h1{
    color: rgb(255, 255, 255);
}
h1{
    font-size: larger;
}
.目次{
    font-size: larger;
}
.header-inner {
    background-color: aliceblue;
    max-width: 1200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: block;
    width: 150px;
}
.title {
    margin-right: auto;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}