.header-inner{
    background-color: aliceblue;
    max-width: 1200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-menu ul{
    margin-left: 20px;
    margin-right: 20px;
}
body {
    background-color: rgb(255, 255, 255);
    width: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    font-family: sans-serif;
}
h1{
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    font-size: larger;
}
h2{
    color: #000;
}
.目次{
    font-size: larger;
}
.mokuji{
    text-align: start;
}
.mokuji ul{
    margin: 20px;
    padding: 20px;
}
.mokuji ul li{
    list-style:none;
    display: inline-block;
    width: 10%;/*10px*/
}
.mokuji ul li a{
    text-decoration: none;
    color: #333;
}
.mokuji a{
    white-space: nowrap;
}
